@model IEnumerable<Proyecto.Models.EstatusPedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescEstatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescEstatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EstatusID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EstatusID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EstatusID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
