@model IEnumerable<Proyecto.Models.Pedidos>

@{
    ViewData["Title"] = "PedidosCliente";
}

<h1>PedidosCliente</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Pedido
            </th>
            <th>
                Fecha del Pedido
            </th>
            <th>
                Fecha de Envío
            </th>
            <th>
                Pago Bancario
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstatusPedido)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PedidoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPedido)
            </td>
            <td>
                @if (!(Convert.ToDateTime("01/01/0001") == item.FechaEmbarque))
                {
                    @Html.DisplayFor(modelItem => item.FechaEmbarque)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenciaBanco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstatusPedido.DescEstatus)
            </td>
            <td>
                <a asp-action="Pago" asp-route-id="@item.PedidoID" class="btn btn-outline-success btn-sm">Capturar Pago</a>
                <a asp-action="Details" asp-route-id="@item.PedidoID" class="btn btn-outline-primary btn-sm">Detalle</a>
            </td>
        </tr>
}
    </tbody>
</table>
